<div class="balance-form-container">
  <h2>Definir Saldo Geral</h2>

  <form (ngSubmit)="saveBalance()">
    <div class="form-group">
      <label for="balance">Valor da Conta:</label>
      <input
        type="text"
        id="balance"
        [ngModel]="balanceValue | currencyMask"
        (ngModelChange)="balanceValue = $event"
        name="balanceValue"
        placeholder="R$ 0,00"
        step="0.01"
        required
      />
    </div>

    <div class="form-actions">
      <button type="submit" class="save-button">Salvar</button>
      <button
        type="button"
        class="cancel-button"
        (click)="router.navigate(['/dashboard'])"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
