<div class="user-event-list">
  <h2>Eventos Disponíveis</h2>

  <div *ngFor="let e of events" class="event-card">
    <h3>
      {{ e.title }}
    </h3>
    <p>{{ e.description }}</p>
    <p><b>Início:</b> {{ e.startDate | date : "short" }}</p>
    <p><b>Fim:</b> {{ e.endDate | date : "short" }}</p>
    <p><b>Local:</b> {{ e.location }}</p>

    <div class="button">
      <!-- Se não inscrito -->
      <button *ngIf="!isRegistered(e._id!)" (click)="register(e)">
        Inscrever-se
      </button>

      <button
        *ngIf="isRegistered(e._id!)"
        [routerLink]="['/events/my-event', e._id, 'qr']"
      >
        Ver QR Code
      </button>

      <div *appPermission="['admin', 'checkin']">
        <button
          *ngIf="isRegistered(e._id!)"
          [routerLink]="['/events/checkin/', e._id]"
        >
          check-in
        </button>
      </div>
    </div>

    <div class="container-participant" *appPermission="['admin', 'checkin']">
      <button
        class="paticipant"
        *ngIf="isRegistered(e._id!)"
        [routerLink]="['/events/my-event', e._id, 'participants']"
      >
        Ver participantes
      </button>
    </div>
  </div>
</div>
