<app-loading-screen *ngIf="isLoading"></app-loading-screen>

<mat-card class="permissions-card" *ngIf="!isLoading">
  <mat-card-header>
    <mat-card-title><h2>Gerenciar Permissões</h2></mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="isLoading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <div *ngIf="errorMessage" class="error-message mat-elevation-z1">
      <mat-icon color="warn">error</mat-icon>
      {{ errorMessage }}
    </div>

    <table
      mat-table
      [dataSource]="users"
      *ngIf="!isLoading && users.length > 0"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let user">{{ user.name }}</td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Papel Atual</th>
        <td mat-cell *matCellDef="let user">
          <mat-form-field appearance="fill" subscriptSizing="dynamic">
            <mat-select
              [(ngModel)]="user.role"
              (selectionChange)="onRoleChange(user)"
            >
              <mat-option *ngFor="let role of roles" [value]="role">{{
                role
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['name', 'role']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'role']"></tr>
    </table>

    <p *ngIf="!isLoading && users.length === 0" class="no-users-message">
      Nenhum usuário encontrado.
    </p>
  </mat-card-content>
</mat-card>
