<div class="header">
  <h2 class="tag-sucess">Receitas</h2>

  <div class="month-selector">
    <button class="nav-button" (click)="previousMonth()"><</button>
    <span class="current-month">{{ months[selectedMonth].name }}</span>
    <button class="nav-button" (click)="nextMonth()">></button>
  </div>
</div>
<div class="container">
  <div *ngIf="groupedIncomes | keyvalue : dateOrder as groups">
    <div *ngFor="let group of groups">
      <h4 class="date-header">
        {{ group.key | dayOfWeek }}
      </h4>

      <div *ngFor="let income of group.value" class="income-item">
        <div class="description">
          <p>{{ income.description }}</p>
          <p class="category">{{ income.category.name }}</p>
        </div>
        <div class="actions">
          <p class="income">R$ {{ income.value | number : "1.2-2" }}</p>
          <div class="item-actions">
            <mat-icon
              class="action-icon edit-icon"
              (click)="onEditIncome(income._id)"
              *appPermission="['financeiro', 'admin']"
              >edit</mat-icon
            >

            <mat-icon
              class="action-icon delete-icon"
              (click)="onDeleteIncome(income._id)"
              *appPermission="['financeiro', 'admin']"
              >delete</mat-icon
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <p
    class="empty"
    *ngIf="!groupedIncomes || (groupedIncomes | keyvalue).length === 0"
  >
    Nenhuma receita encontrada.
  </p>

  <div class="add-income">
    <button
      mat-fab
      color="primary"
      aria-label="Adicionar receita"
      class="add-button"
      *appPermission="['financeiro', 'admin']"
      (click)="goToAddIncome()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
