<div *ngIf="event" class="event-register-container">
  <h2>{{ event.title }}</h2>
  <p>{{ event.description }}</p>
  <p><b>Início:</b> {{ event.startDate | date : "short" }}</p>
  <p><b>Fim:</b> {{ event.endDate | date : "short" }}</p>
  <p><b>Local:</b> {{ event.location }}</p>

  <button (click)="register()" [disabled]="qrCode">Inscrever-se</button>

  <div *ngIf="qrCode" class="qr-container">
    <h3>Seu QR Code:</h3>
    <qrcode
      [qrdata]="qrCode"
      [width]="200"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
  </div>
</div>
