.payments-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  .payments-card {
    width: 100%;
    box-sizing: border-box;

    mat-card-header {
      text-align: center;
      padding: 0.5rem;
      mat-card-title {
        font-size: 1.2rem;
        font-weight: 600;
      }
      mat-card-subtitle {
        font-size: 0.9rem;
        color: #666;
      }
    }

    .mat-mdc-card-content {
      padding: 0;
    }

    mat-card-content {
      .spinner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        text-align: center;
        font-size: 0.9rem;
        padding: 0;
      }

      .no-users-message {
        text-align: center;
        font-size: 0.95rem;
        color: #777;
      }

      .table-container {
        overflow-x: auto; // 👈 permite rolar horizontal no mobile
        border-radius: 8px;

        table {
          width: 100%;
          border-collapse: collapse;

          th,
          td {
            padding: 0.75rem;
            font-size: 0.85rem;
            text-align: left;
            white-space: nowrap; // evita quebra de linha
          }

          th {
            font-weight: 600;
            color: #444;
          }

          td {
            color: #333;
          }
        }

        button {
          font-size: 0.75rem;
          padding: 0.4rem 0.6rem;
        }
      }
    }
  }
}

/* Tablet (>= 600px) */
@media (min-width: 600px) {
  .payments-container {
    padding: 1.5rem;

    .payments-card {
      mat-card-header {
        text-align: left;
        mat-card-title {
          font-size: 1.4rem;
        }
      }

      .table-container {
        table {
          th,
          td {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

/* Desktop (>= 1024px) */
@media (min-width: 1024px) {
  .payments-container {
    max-width: 1200px;
    margin: 0 auto;

    .payments-card {
      padding: 1rem 2rem;

      .table-container {
        table {
          th,
          td {
            font-size: 1rem;
            padding: 1rem;
          }
        }

        button {
          font-size: 0.85rem;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}
