<app-loading-screen *ngIf="isLoading"></app-loading-screen>

<div *ngIf="!isLoading" class="container">
  <mat-toolbar color="primary">
    <mat-icon>account_balance_wallet</mat-icon>
    <span>Gerenciar Contribuições Mensais</span>
  </mat-toolbar>

  <div class="payments-container">
    <mat-card class="payments-card">
      <mat-card-header>
        <mat-card-title>Lista de Usuários</mat-card-title>
        <mat-card-subtitle
          >Visualize e registre as contribuições</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="isLoading" class="spinner-container">
          <mat-spinner diameter="50"></mat-spinner>
          <p>Carregando usuários...</p>
        </div>

        <div *ngIf="errorMessage" class="error-message mat-elevation-z1">
          <mat-icon color="warn">error</mat-icon>
          {{ errorMessage }}
        </div>
        <div *ngIf="!isLoading && users.length === 0" class="no-users-message">
          <p>Nenhum usuário encontrado.</p>
        </div>

        <div
          class="table-container mat-elevation-z8"
          *ngIf="!isLoading && users.length > 0"
        >
          <table mat-table [dataSource]="users">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nome</th>
              <td mat-cell *matCellDef="let user">{{ user.name }}</td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let user">
                <mat-chip-listbox aria-label="Status de Pagamento">
                  <mat-chip-option
                    [color]="user.hasPayment ? 'primary' : 'warn'"
                    [disabled]="true"
                    [selected]="user.hasPayment"
                  >
                    {{ user.hasPayment ? "Pago" : "Pendente" }}
                    <mat-icon matChipAvatar>
                      {{ user.hasPayment ? "check_circle" : "warning" }}
                    </mat-icon>
                  </mat-chip-option>
                </mat-chip-listbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Ações</th>
              <td mat-cell *matCellDef="let user">
                <button
                  mat-raised-button
                  color="accent"
                  (click)="markAsPaid(user)"
                  [disabled]="user.hasPayment"
                >
                  Pago
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
