<div class="list-container">
  <h2>Gerenciar Categorias</h2>
  <button class="add-button" [routerLink]="['/categories/add']">
    Adicionar Nova Categoria
  </button>

  <div *ngIf="categories.length === 0" class="no-items-message">
    Nenhuma categoria cadastrada.
  </div>

  <table *ngIf="categories.length > 0">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td data-label="Nome">{{ category.name }}</td>
        <td data-label="Tipo">{{ category.type | uppercase }}</td>
        <td data-label="Ações">
          <button
            class="edit-button"
            [routerLink]="['/categories/edit', category._id]"
          >
            Editar
          </button>
          <button class="delete-button" (click)="deleteCategory(category._id)">
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
