<div class="main-container" *ngIf="showNavigation">
  <mat-toolbar color="primary" class="app-toolbar navbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a class="nav-brand" routerLink="/dashboard">
      <img
        src="assets/LogoColoDeDeus.png"
        alt="Logo Colo De Deus"
        class="img-fluid nav-brand"
        style="max-width: 150px"
      />
    </a>
    <button mat-icon-button (click)="toggleNotifications()">
      <mat-icon>{{
        isSubscribed ? "notifications" : "notifications_off"
      }}</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container nav-links">
    <mat-sidenav #sidenav mode="over" class="sidenav">
      <mat-nav-list (click)="sidenav.toggle()">
        <a mat-list-item routerLink="/dashboard" class="active-link"
          >Dashbord</a
        >
        <a mat-list-item routerLink="/pix" class="active-link">Pix</a>
        <a
          mat-list-item
          routerLink="/incomes"
          class="active-link"
          *appPermission="['financeiro', 'admin', 'lideranca']"
          >Receitas</a
        >
        <a
          mat-list-item
          routerLink="/expenses"
          class="active-link"
          *appPermission="['financeiro', 'admin', 'lideranca']"
          >Despesas</a
        >
        <a
          mat-list-item
          routerLink="/balance"
          class="active-link"
          *appPermission="['admin']"
          >Ajuste de Saldo</a
        >

        <a
          mat-list-item
          routerLink="/categories"
          class="active-link"
          *appPermission="['financeiro', 'admin']"
          >Gerenciar Categorias</a
        >
        <a
          mat-list-item
          routerLink="/admin/permissions"
          class="active-link"
          *appPermission="['admin']"
          >Gerenciar Permissões</a
        >

        <a
          mat-list-item
          routerLink="/admin/payments-status"
          class="active-link"
          *appPermission="['admin']"
          >Gerenciar pagamentos</a
        >

        <a mat-list-item routerLink="/perfil" class="active-link">Meu Perfil</a>

        <button mat-button class="btn-logout" (click)="onLogout()">Sair</button>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
