<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Nome:</label>
    <input
      id="name"
      type="text"
      formControlName="name"
      placeholder="Nome completo"
    />
    <div
      *ngIf="
        registerForm.get('name')?.invalid &&
        (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)
      "
      class="error-message"
    >
      <p *ngIf="registerForm.get('name')?.errors?.['required']">
        Nome é obrigatório.
      </p>
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input
      id="email"
      type="email"
      formControlName="email"
      placeholder="user@email.com"
    />
    <div
      *ngIf="
        registerForm.get('email')?.invalid &&
        (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)
      "
      class="error-message"
    >
      <p *ngIf="registerForm.get('email')?.errors?.['required']">
        E-mail é obrigatório.
      </p>
      <p *ngIf="registerForm.get('email')?.errors?.['email']">
        E-mail inválido.
      </p>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Senha:</label>
    <input
      id="password"
      type="password"
      formControlName="password"
      placeholder="xxxxxx"
    />

    <div
      *ngIf="
        registerForm.get('password')?.invalid &&
        (registerForm.get('password')?.dirty ||
          registerForm.get('password')?.touched)
      "
      class="error-message"
    >
      <p *ngIf="registerForm.get('password')?.errors?.['required']">
        Senha é obrigatória.
      </p>

      <div *ngIf="registerForm.get('password')?.errors?.['pattern']">
        <p>A senha deve:</p>
        <ul>
          <li>Ter no mínimo 6 caracteres.</li>
          <li>Conter pelo menos uma letra maiúscula.</li>
          <li>Conter pelo menos uma letra minúscula.</li>
          <li>Conter pelo menos um número.</li>
          <li>Conter pelo menos um caractere especial.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="birthDate">Data de Nascimento:</label>
    <input
      id="birthDate"
      type="text"
      formControlName="birthDate"
      mask="d0/M0/0000"
      placeholder="dd/mm/aaaa"
    />

    <div
      *ngIf="
        registerForm.get('birthDate')?.invalid &&
        (registerForm.get('birthDate')?.dirty ||
          registerForm.get('birthDate')?.touched)
      "
      class="error-message"
    >
      <p *ngIf="registerForm.get('birthDate')?.errors?.['required']">
        Data de nascimento é obrigatória.
      </p>
    </div>
  </div>

  <div class="form-group">
    <label for="phone">Telefone:</label>
    <input
      id="phone"
      type="text"
      formControlName="phone"
      [mask]="'(00) 00000-0000||(00) 0000-0000'"
      placeholder="(xx) xxxxx-xxxx"
    />
    <div
      *ngIf="
        registerForm.get('phone')?.invalid &&
        (registerForm.get('phone')?.dirty || registerForm.get('phone')?.touched)
      "
      class="error-message"
    >
      <p *ngIf="registerForm.get('phone')?.errors?.['required']">
        Telefone é obrigatório.
      </p>

      <p *ngIf="registerForm.get('phone')?.errors?.['mask']">
        O telefone não está no formato correto.
      </p>
    </div>
  </div>

  <div formGroupName="address">
    <div class="form-group">
      <label for="street">Rua:</label>
      <input id="street" type="text" formControlName="street" />
      <div
        *ngIf="
          registerForm.get('address.street')?.invalid &&
          (registerForm.get('address.street')?.dirty ||
            registerForm.get('address.street')?.touched)
        "
        class="error-message"
      >
        <p *ngIf="registerForm.get('address.street')?.errors?.['required']">
          Rua é obrigatória.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="neighborhood">Bairro:</label>
      <input id="neighborhood" type="text" formControlName="neighborhood" />
      <div
        *ngIf="
          registerForm.get('address.neighborhood')?.invalid &&
          (registerForm.get('address.neighborhood')?.dirty ||
            registerForm.get('address.neighborhood')?.touched)
        "
        class="error-message"
      >
        <p
          *ngIf="registerForm.get('address.neighborhood')?.errors?.['required']"
        >
          Bairro é obrigatório.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="city">Cidade:</label>
      <input id="city" type="text" formControlName="city" />
      <div
        *ngIf="
          registerForm.get('address.city')?.invalid &&
          (registerForm.get('address.city')?.dirty ||
            registerForm.get('address.city')?.touched)
        "
        class="error-message"
      >
        <p *ngIf="registerForm.get('address.city')?.errors?.['required']">
          Cidade é obrigatória.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="state">Estado:</label>
      <input id="state" type="text" formControlName="state" />
      <div
        *ngIf="
          registerForm.get('address.state')?.invalid &&
          (registerForm.get('address.state')?.dirty ||
            registerForm.get('address.state')?.touched)
        "
        class="error-message"
      >
        <p *ngIf="registerForm.get('address.state')?.errors?.['required']">
          Estado é obrigatório.
        </p>
      </div>
    </div>
  </div>

  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Ano Vocacional</mat-label>
      <mat-select formControlName="vocationalYear">
        <mat-option *ngFor="let year of vocationalYears" [value]="year">
          {{ year | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-group">
    <label for="trainer">Formador:</label>
    <input
      id="trainer"
      type="text"
      formControlName="trainer"
      placeholder="Nome do formador"
    />
    <div
      *ngIf="
        registerForm.get('trainer')?.invalid &&
        (registerForm.get('trainer')?.dirty ||
          registerForm.get('trainer')?.touched)
      "
      class="error-message"
    >
      <p *ngIf="registerForm.get('trainer')?.errors?.['required']">
        Formador é obrigatório.
      </p>
    </div>
  </div>

  <div>
    <label for="monthlyContributionDay">
      Dia do Lembrete de Contribuição:
    </label>
    <input
      id="monthlyContributionDay"
      type="number"
      formControlName="monthlyContributionDay"
      placeholder="1 a 31 "
    />
  </div>

  <button type="submit" [disabled]="registerForm.invalid">Atualizar</button>
</form>
