<div class="event-list-container">
  <h2>Eventos</h2>

  <div *ngFor="let e of events" class="event-card">
    <h3>{{ e.title }}</h3>
    <p [innerHTML]="e.description"></p>
    <p><b>Início:</b> {{ e.startDate | date : "short" }}</p>
    <p><b>Fim:</b> {{ e.endDate | date : "short" }}</p>
    <p><b>Local:</b> {{ e.location }}</p>

    <div class="botton">
      <button (click)="editEvent(e._id!)">Editar</button>
      <button (click)="deleteEvent(e._id!)">Excluir</button>
    </div>
  </div>

  <div class="add-income" *appPermission="['agenda', 'admin']">
    <button class="add-button" matIconButton [matMenuTriggerFor]="menu">
      <mat-icon>add_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/events/create']">
        <mat-icon>add_ad</mat-icon>
        <span>Novo Evento</span>
      </button>
    </mat-menu>
  </div>
</div>
