<form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
  <div class="reset-password-container">
    <div class="form-card">
      <h2>Recuperar Senha</h2>
      <p>Digite seu e-mail para receber um link de redefinição de senha.</p>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="seu@email.com"
        />
        <div
          *ngIf="
            requestForm.get('email')?.invalid &&
            requestForm.get('email')?.touched
          "
          class="error-message"
        >
          <div *ngIf="requestForm.get('email')?.errors?.['required']">
            O e-mail é obrigatório.
          </div>
          <div *ngIf="requestForm.get('email')?.errors?.['email']">
            Por favor, insira um e-mail válido.
          </div>
        </div>
      </div>

      <div *ngIf="errorMessage" class="error-message general-error">
        {{ errorMessage }}
      </div>

      <button type="submit" [disabled]="!requestForm.valid">Enviar Link</button>

      <div class="back-link">
        <a [routerLink]="['/login']">Voltar para o login</a>
      </div>
    </div>
  </div>
</form>
