$red: #e74c3c;
$green: #2ec64e;

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .tag-expenses {
    background-color: $red;
    width: 102px;
    padding: 5px;
    border-radius: 9999px;
    transition: transform 0.12s ease, box-shadow 0.12s ease;
    font-size: 16px;
    margin: 10px;
    color: white;
  }

  .month-selector {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    font-family: "Poppins", sans-serif;

    .nav-button {
      background: none;
      border: none;
      font-size: 1.5rem;
      font-weight: bold;
      cursor: pointer;
      color: #333;
    }
  }
}
.container {
  max-width: 800px;
  margin: 0;
  padding: 27px;
  min-height: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px #333;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: 19px;
  background: #030303f2;
  color: white;

  .empty {
    margin: 0;
    font-size: 1rem;
    color: #555;
    justify-content: center;
    display: flex;
    color: white;
  }
  .add-income {
    display: flex;
    justify-content: center;
    .add-button {
      position: fixed; /* Posiciona o botão em relação à viewport */
      bottom: 20px; /* Distância da parte inferior da tela */
      z-index: 1000; /* Garante que o botão fique acima de outros elementos */
      width: 50px;
      border-radius: 50px;
      margin-bottom: 10px;
      mat-icon {
        display: flex;
        width: 100%;
        justify-content: center;
        height: 27px;
      }
    }
  }

  .date-header {
    margin-bottom: 1rem;
  }
  .income-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 70px;

    .description {
      p {
        color: white;
      }
      .category {
        font-size: 14px;
        color: #736f6f;
      }
    }
    .income {
      color: $red;
    }

    .item-actions {
      display: flex;
      gap: 8px; /* Espaço entre os ícones */
      margin-top: 4px; /* Pequeno espaçamento abaixo do valor */
      display: flex;
      gap: 8px;
      margin-top: 4px;
      justify-content: center;
    }

    .action-icon {
      font-size: 16px; /* Tamanho pequeno */
      height: 16px;
      width: 16px;
      cursor: pointer;
      color: #616161; /* Cor padrão */
      transition: color 0.2s ease-in-out; /* Transição suave na cor */
    }

    .edit-icon {
      color: #007bff; /* Azul ao passar o mouse */
    }

    .delete-icon {
      color: $red; /* Vermelho ao passar o mouse */
    }
  }
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

li {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

p {
  margin: 0;
  font-size: 1rem;
  color: #555;
}

.no-incomes-message {
  text-align: center;
  color: #777;
  font-style: italic;
  margin-top: 2rem;
}
/* src/app/incomes/incomes-list/incomes-list.component.scss */
// ... código anterior

li {
  // ... código anterior
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-details {
  flex-grow: 1;
}

.item-actions {
  display: flex;
  gap: 10px;
}

.add-button {
  background-color: $red;
}

.edit-button {
  background-color: #3498db; // Cor de edição (azul)
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background-color: darken(#3498db, 10%);
  }
}

.delete-button {
  background-color: $red; // Cor de exclusão (vermelho)
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background-color: darken($red, 10%);
  }
}

/* src/app/incomes/incomes-list/incomes-list.component.scss */

// Adicione este estilo para organizar o cabeçalho
.header-actions {
  display: flex;
  justify-content: flex-end; // Alinha o botão à direita
  margin-bottom: 2rem;
}

// Estilo para a nova seção de filtro
.filter-section {
  display: flex;
  flex-direction: column; // Por padrão, empilha os itens em mobile
  gap: 10px;
  margin-bottom: 2rem;

  label {
    font-weight: bold;
    color: #555;
    margin-bottom: -5px; // Ajusta o espaçamento entre a label e o input
  }

  input[type="date"] {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
    outline: none; // Remove o contorno padrão
    &:focus {
      border-color: #3498db; // Adiciona um contorno azul no foco
    }
  }
}

// Media query para telas maiores, como desktops
@media (min-width: 768px) {
  .container {
    width: 800px;
    margin: 10px;
  }
  .header-actions {
    margin-bottom: 1rem;
  }

  .filter-section {
    flex-direction: row; // Alinha os itens lado a lado em telas maiores
    align-items: center;
    gap: 20px;
  }

  .filter-section label {
    margin-bottom: 0; // Remove a margem para alinhamento horizontal
  }
}

// Estilos já existentes para a lista de itens
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column; // Empilha itens em mobile
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.item-details {
  flex-grow: 1;
}

.item-actions {
  display: flex;
  gap: 10px;
  align-self: flex-end; // Alinha os botões à direita em mobile
}

// Media
