<div class="container">
  <h2>Despesas</h2>

  <div class="header-actions">
    <button class="add-button" (click)="goToAddExpense()">
      Adicionar Nova Despesa
    </button>
  </div>

  <div class="filter-section">
    <label for="startDate">De:</label>
    <input
      type="date"
      id="startDate"
      [(ngModel)]="startDate"
      (change)="onFilter()"
    />

    <label for="endDate">Até:</label>
    <input
      type="date"
      id="endDate"
      [(ngModel)]="endDate"
      (change)="onFilter()"
    />
  </div>

  <div *ngIf="expenses.length > 0; else noExpenses">
    <ul>
      <li *ngFor="let expense of expenses">
        <div class="item-details">
          <p>Descrição: {{ expense.description }}</p>
          <p>Valor: {{ expense.value | currency : "BRL" }}</p>
          <p>Data: {{ expense.date | date : "shortDate" }}</p>
        </div>
        <div class="item-actions">
          <button class="edit-button" (click)="onEditExpense(expense._id)">
            Editar
          </button>
          <button class="delete-button" (click)="onDeleteExpense(expense._id)">
            Deletar
          </button>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #noExpenses>
    <p class="no-expenses-message">Você ainda não tem despesas cadastradas.</p>
  </ng-template>
</div>
