<app-loading-screen *ngIf="isLoading"></app-loading-screen>

<div class="header" *ngIf="!isLoading">
  <h2 class="tag-expenses">Despesas</h2>

  <div class="month-selector">
    <button class="nav-button" (click)="previousMonth()"><</button>
    <span class="current-month">{{ months[selectedMonth].name }}</span>
    <button class="nav-button" (click)="nextMonth()">></button>
  </div>
</div>
<div class="container" *ngIf="!isLoading">
  <div *ngIf="groupedExpenses | keyvalue : dateOrder as groups">
    <div *ngFor="let group of groups">
      <h4 class="date-header">
        {{ group.key | dayOfWeek }}
      </h4>

      <div *ngFor="let expense of group.value" class="income-item">
        <div class="description">
          <p>{{ expense.description }}</p>
          <p class="category">{{ expense?.category?.name }}</p>
        </div>
        <div class="actions">
          <p class="income">R$ {{ expense.value | number : "1.2-2" }}</p>
          <div class="item-actions">
            <mat-icon
              class="action-icon edit-icon"
              (click)="onEditIncome(expense._id)"
              *appPermission="['financeiro', 'admin']"
              >edit</mat-icon
            >

            <mat-icon
              class="action-icon delete-icon"
              (click)="onDeleteIncome(expense._id)"
              *appPermission="['financeiro', 'admin']"
              >delete</mat-icon
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <p
    class="empty"
    *ngIf="!groupedExpenses || (groupedExpenses | keyvalue).length === 0"
  >
    Nenhuma Despesa encontrada.
  </p>

  <div class="add-income">
    <mat-icon
      class="add-button"
      (click)="goToAddExpense()"
      *appPermission="['financeiro', 'admin']"
      >add_circle</mat-icon
    >
  </div>
</div>
