<app-loading-screen *ngIf="isLoading"></app-loading-screen>

<div class="dashboard-container" *ngIf="!isLoading">
  <mat-card appearance="outlined">
    <mat-card-header>
      <div class="header-content">
        <mat-card-subtitle>Saldo Geral</mat-card-subtitle>
        <p *ngIf="showValues">
          {{ generalBalance | currency : "BRL" : "" : "1.2-2" }}
        </p>
        <p *ngIf="!showValues">*******</p>
        <button mat-icon-button (click)="toggleValues()">
          <mat-icon>{{
            showValues ? "visibility" : "visibility_off"
          }}</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-form-field
      subscriptSizing="dynamic"
      *appPermission="['financeiro', 'admin', 'lideranca']"
    >
      <mat-select
        [(ngModel)]="selectedMonth"
        (selectionChange)="onRoleChange()"
      >
        <mat-option *ngFor="let month of months" [value]="month.value">
          {{ month.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card-actions>
      <div class="spacer" [routerLink]="['/incomes']">
        <mat-icon class="adjust-button up">arrow_circle_up</mat-icon>
        <div class="valores">
          <h6>Receitas</h6>
          <p class="incomes" *ngIf="showValues">
            {{ totalIncomes | currency : "BRL" : "" : "1.2-2" }}
          </p>
          <p class="incomes" *ngIf="!showValues">*******</p>
        </div>
      </div>

      <div class="spacer" [routerLink]="['/expenses']">
        <mat-icon class="adjust-button down">arrow_circle_down</mat-icon>
        <div class="valores">
          <h6>Despesas</h6>
          <p class="expenses" *ngIf="showValues">
            {{ totalExpenses | currency : "BRL" : "" : "1.2-2" }}
          </p>
          <p class="expenses" *ngIf="!showValues">*******</p>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>

  <div class="charts-container">
    <div class="chart-card" *ngIf="expenseChartData.length > 0">
      <h3>Despesas por Categoria</h3>
      <ngx-charts-pie-chart
        [results]="expenseChartData"
        [labels]="true"
        [animations]="true"
      >
        >
      </ngx-charts-pie-chart>
    </div>

    <div class="chart-card" *ngIf="incomeChartData.length > 0">
      <h3>Receitas por Categoria</h3>
      <ngx-charts-pie-chart
        [results]="incomeChartData"
        [labels]="true"
        [animations]="true"
        [customColors]="colorScheme"
      >
      </ngx-charts-pie-chart>
    </div>
  </div>

  <div class="chart-section" *ngIf="barChartData">
    <h3>Receitas vs Despesas (por Mês)</h3>
    <div *ngIf="barChartData.length > 0; else noBarChartData">
      <ngx-charts-bar-vertical-2d
        [results]="barChartData"
        [xAxisLabel]="'Mês'"
        [yAxisLabel]="'Valor'"
        [xAxis]="showBarXAxis"
        [yAxis]="showBarYAxis"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [customColors]="colorScheme"
      >
      </ngx-charts-bar-vertical-2d>
    </div>
    <ng-template #noBarChartData>
      <p class="no-chart-message">
        Adicione receitas e despesas para ver o gráfico.
      </p>
    </ng-template>
  </div>
</div>
