<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class="calendar-container" *ngIf="!loading && !error">
  <h2 class="calendar-title">Próximos Eventos</h2>

  <div class="month-selector">
    <mat-icon class="nav-button" (click)="previousMonth()"
      >arrow_back_ios</mat-icon
    >

    <span class="current-month">{{ months[selectedMonth - 1].name }}</span>

    <mat-icon class="nav-button" (click)="nextMonth()"
      >arrow_forward_ios</mat-icon
    >
  </div>

  <p class="sem-evento" *ngIf="!events.length">Não há eventos registrados</p>

  <div class="event-card" *ngFor="let event of events">
    <div class="datas" [ngStyle]="{ 'border-right': getBorderColor(event) }">
      <p class="event-dates">
        <span class="start">
          {{ event.start.dateTime ?? event.start.date | date : "shortDate" }}
        </span>
      </p>
      <p class="event-dates">
        <span class="end">
          {{ event.end.dateTime ?? event.end.date | date : "shortDate" }}
        </span>
      </p>
    </div>

    <div class="event-details" (click)="viewEvent(event)">
      <h3 class="event-title">{{ event.summary }}</h3>

      <p
        class="event-description"
        *ngIf="openedEventId === event.id && event.description"
      >
        <strong>Sobre: </strong> {{ event.description }}
      </p>
      <p
        class="event-location"
        *ngIf="openedEventId === event.id && event.location"
      >
        <strong>Local:</strong> {{ event.location }}
      </p>
      <p
        class="event-type"
        *ngIf="openedEventId === event.id && event.typeMission"
      >
        <strong>Tipo de Missão:</strong>
        {{ getEventTypeLabel(event.typeMission) }}
      </p>

      <!-- Botões de ação -->
      <div class="event-actions" *ngIf="viewUserMode === false">
        <button
          class="edit-btn action-btn"
          (click)="editEvent(event)"
          *appPermission="['agenda', 'admin']"
        >
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>

        <button
          class="delete-btn action-btn"
          (click)="deleteEvent(event)"
          *appPermission="['agenda', 'admin']"
        >
          <mat-icon>delete</mat-icon>
          <span>Excluir</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="add-income" *appPermission="['agenda', 'admin']">
  <button class="add-button" matIconButton [matMenuTriggerFor]="menu">
    <mat-icon>add_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/agenda/event']">
      <mat-icon>add_ad</mat-icon>
      <span>Novo Evento</span>
    </button>

    <button mat-menu-item (click)="userViewMode()">
      <mat-icon>supervisor_account</mat-icon>
      <span>{{ tipoView }}</span>
    </button>
  </mat-menu>
</div>
