.bible-container {
  max-width: 800px;

  padding: 20px;
  background-color: #1f2937; /* fundo escuro */
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5); /* sombra mais forte para dark */
  font-family: "Segoe UI", sans-serif;
  color: #e3e3e3;
}

.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

  position: sticky;
  top: 0; /* distância do topo da tela */
  background-color: #1f2937; /* mesma cor do container dark */
  padding: 10px 0;
  z-index: 10; /* garante que fique acima dos versos */
}

select {
  background-color: #374151;
  color: #fef2f2;
  border: 1px solid #4b5563;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 15px;
}

.chapter h2 {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  color: #fef2f2; /* vermelho claro para destaque */
  margin-bottom: 20px;
}

.verse {
  display: flex;
  align-items: baseline;
  gap: 10px;
  padding: 8px 0;
  border-radius: 12px;
  transition: all 0.2s ease;
}

.verse:hover {
  background-color: #374151; /* hover sutil */
}

.verse-number {
  background-color: #571d1d;
  color: #fff;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  flex-shrink: 0;
}

.verse-text {
  line-height: 1.7;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #e3e3e3;
}

.leitura.salmo .verse-text {
  font-style: italic;
  color: #9ca3af; /* cinza suave */
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color: #9ca3af;
}

.loading p {
  margin-top: 10px;
  font-size: 14px;
}

.reflexao-accordion {
  margin-top: 25px;
}

.reflexao-accordion mat-expansion-panel {
  border-radius: 12px;
  background: #111827;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.reflexao-accordion mat-expansion-panel:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.6);
}

.reflexao-accordion mat-expansion-panel-header {
  background-color: #1f2937;
  border-radius: 12px 12px 0 0;
}

.reflexao-accordion mat-expansion-panel-header mat-panel-title {
  color: #571d1d;
  font-weight: 600;
}

.reflexao-content {
  line-height: 1.8;
  font-size: 16px;
  color: #e3e3e3;
}

.reflexao-content p {
  margin-bottom: 14px;
}

.reflexao-content em {
  color: #9ca3af;
  font-style: italic;
}

@media (min-width: 1024px) {
  .bible-container {
    width: 900px;
  }
}
